{% extends 'base.html' %} {% block content %}
<div class="row mt-3">{%for pitch in pitches %}
    <div class="col-md-4 mx-auto">
        <div class="card shadow p-2 mt-2">
            <h5 class="card-title bg-light py-2 text-center ">{{pitch.title}}</h5>
            <div class="card-body">

                <p class="card-text text-center py-2"><i>"{{pitch.pitch}}"</i></p>
                <a href="#" class="btn btn-primary">Comment</a>
            </div>
        </div>
    </div>
    {%endfor%} </div>{% endblock%}